.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 40px 50px 40px;
  height: 100%;
  box-sizing: border-box;

  .body {
    display: flex;
    gap: 10px;
    flex-direction: column;

    .linkContainer {
      perspective: 120px;
      perspective-origin: bottom;
    }

    .link {
      position: relative;
      text-decoration: none;
      color: black;
      font-size: 46px;
      display: inline-block;
      transition:
        transform 0.3s,
        color 0.3s;

      &::before {
        content: "→"; /* Arrow symbol */
        position: absolute;
        left: -40px; /* Adjust spacing as needed */
        opacity: 0;
        transform: translateX(-10px);
        transition:
          transform 0.3s,
          opacity 0.3s;
      }

      &:hover {
        transform: translateX(20px); /* Move text to the right */

        &::before {
          opacity: 1;
          transform: translateX(0); /* Move arrow to its original position */
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    a {
      width: 50%;
      margin-top: 5px;
    }
  }
}
